Center {
    border: hkey green;
    content-align: center top;
    text-style: bold;
}

#performance_container {
    border: blue;
    border-title-color: slategray;
    height: auto;
}

#bonus_container {
    border: lightcoral;
    border-title-color: slategray;
    height: auto;
}

#cogmind_container {
    border: purple;
    border-title-color: slategray;
    height: auto;
}
